# Desafio Módulo 2 - Python para a análise de dados

In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('https://pycourse.s3.amazonaws.com/bike-sharing.csv')

- **rec_id:** índice do registro de locação;
- **datetime:** data;
- **season:** estação do ano (1: inverno, 2: primavera, 3: verão, 4: outono);
- **year:** ano (0: 2011, 1: 2012);
- **month:** mês (1 a 12);
- **hour:** hora do dia (0 a 23);
- **is_holiday:** booleano indicando feriado;
- **weekday:** dia da semana (0: domingo, 1: segunda, ..., 6: sábado);
- **is_workingday:** booleano indicando dia útil;
- **weather_condition:** condição do tempo (1: limpo, 2: nublado, 3: chuva leve, 4: chuva forte);
- **temp:** temperatura escalada entre 0 e 1. Valor original em graus Celsius: -8 a 39;
- **atemp:** sensação térmica escalada entre 0 e 1. Valor original em graus Celsius: -16 a 50;
- **humidity:** Humidade relativa (0 a 1);
- **windspeed:** velocidade do vento escalada entre 0 e 1 (máximo original: 67);
- **casual:** número de locações para usuários casuais;
- **registered:** número de locações para usuários registrados;
- **total_count:** contador total de aluguéis (casual+registered).

In [4]:
df.head()

,datetime,rec_id,season,year,month,hour,is_holiday,weekday,is_workingday,weather_condition,temp,atemp,humidity,windspeed,casual,registered,total_count
0,2011-01-01,1,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2011-01-01,2,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,2011-01-01,3,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,2011-01-01,4,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,2011-01-01,5,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

## Perguntas

### a) Qual o tamanho desse dataset?

In [9]:
df.info()
# 17.379 entradas

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   datetime           17379 non-null  object
 1   rec_id             17379 non-null  int64
 2   season             17379 non-null  int64
 3   year               17379 non-null  int64
 4   month              17379 non-null  int64
 5   hour               17379 non-null  int64
 6   is_holiday         17379 non-null  int64
 7   weekday            17379 non-null  int64
 8   is_workingday      17379 non-null  int64
 9   weather_condition  17379 non-null  int64
 10  temp               17379 non-null  float64
 11  atemp              17379 non-null  float64
 12  humidity           17379 non-null  float64
 13  windspeed          17379 non-null  float64
 14  casual             17379 non-null  int64
 15  registered         17379 non-null  int64
 16  total_count        17379 non-null  int64
dtypes: float64(4), int64(12), object(1)
memory usage: 2.3+ MB

### b) Qual a média da coluna *windspeed*?

In [10]:
df['windspeed'].mean()

0.1900976063064631

In [12]:
df['windspeed'].describe()

count    17379.000000
mean         0.190098
std          0.122340
min          0.000000
25%          0.104500
50%          0.194000
75%          0.253700
max          0.850700
Name: windspeed, dtype: float64

### c) Qual a média da coluna *temp*?

In [13]:
df['temp'].mean()

0.4969871684216586

In [14]:
df['temp'].describe()

count    17379.000000
mean         0.496987
std          0.192556
min          0.020000
25%          0.340000
50%          0.500000
75%          0.660000
max          1.000000
Name: temp, dtype: float64

### d) Quantos registros existem para o ano de 2011?

In [16]:
len(df[df['year'] == 0])

8645

In [18]:
df[df['year'] == 0].count()

datetime             8645
rec_id               8645
season               8645
year                 8645
month                8645
hour                 8645
is_holiday           8645
weekday              8645
is_workingday        8645
weather_condition    8645
temp                 8645
atemp                8645
humidity             8645
windspeed            8645
casual               8645
registered           8645
total_count          8645
dtype: int64

In [21]:
df[df['year'] == 0]

,datetime,rec_id,season,year,month,hour,is_holiday,weekday,is_workingday,weather_condition,temp,atemp,humidity,windspeed,casual,registered,total_count
0,2011-01-01,1,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0000,3,13,16
1,2011-01-01,2,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0000,8,32,40
2,2011-01-01,3,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0000,5,27,32
3,2011-01-01,4,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0000,3,10,13
4,2011-01-01,5,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0000,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8640,2011-12-31,8641,1,0,12,19,0,6,0,1,0.42,0.4242,0.54,0.2239,19,73,92
8641,2011-12-31,8642,1,0,12,20,0,6,0,1,0.42,0.4242,0.54,0.2239,8,63,71
8642,2011-12-31,8643,1,0,12,21,0,6,0,1,0.40,0.4091,0.58,0.1940,2,50,52
8643,2011-12-31,8644,1,0,12,22,0,6,0,1,0.38,0.3939,0.62,0.1343,2,36,38
8644,2011-12-31,8645,1,0,12,23,0,6,0,1,0.36,0.3788,0.66,0.0000,4,27,31

### e) Quantos registros existem para o ano de 2012?

In [23]:
len(df[df['year'] == 1])

8734

In [25]:
df[df['year'] == 1].count()

datetime             8734
rec_id               8734
season               8734
year                 8734
month                8734
hour                 8734
is_holiday           8734
weekday              8734
is_workingday        8734
weather_condition    8734
temp                 8734
atemp                8734
humidity             8734
windspeed            8734
casual               8734
registered           8734
total_count          8734
dtype: int64

In [28]:
df[df['year'] == 1]

,datetime,rec_id,season,year,month,hour,is_holiday,weekday,is_workingday,weather_condition,temp,atemp,humidity,windspeed,casual,registered,total_count
8645,2012-01-01,8646,1,1,1,0,0,0,0,1,0.36,0.3788,0.66,0.0000,5,43,48
8646,2012-01-01,8647,1,1,1,1,0,0,0,1,0.36,0.3485,0.66,0.1343,15,78,93
8647,2012-01-01,8648,1,1,1,2,0,0,0,1,0.32,0.3485,0.76,0.0000,16,59,75
8648,2012-01-01,8649,1,1,1,3,0,0,0,1,0.30,0.3333,0.81,0.0000,11,41,52
8649,2012-01-01,8650,1,1,1,4,0,0,0,1,0.28,0.3030,0.81,0.0896,0,8,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17374,2012-12-31,17375,1,1,12,19,0,1,1,2,0.26,0.2576,0.60,0.1642,11,108,119
17375,2012-12-31,17376,1,1,12,20,0,1,1,2,0.26,0.2576,0.60,0.1642,8,81,89
17376,2012-12-31,17377,1,1,12,21,0,1,1,1,0.26,0.2576,0.60,0.1642,7,83,90
17377,2012-12-31,17378,1,1,12,22,0,1,1,1,0.26,0.2727,0.56,0.1343,13,48,61
17378,2012-12-31,17379,1,1,12,23,0,1,1,1,0.26,0.2727,0.65,0.1343,12,37,49

### f) Quantas locações de bicicletas foram efetuadas em 2011?

In [30]:
sum(df[df['year'] == 0]['total_count'])

1243103

### g) Quantas locações de bicicletas foram efetuadas em 2012?

In [35]:
sum(df[df['year'] == 1]['total_count'])

2049576

### h) Qual estação do ano contém a maior média de locações de bicicletas?

In [39]:
# conferindo se existem as 4 estações do ano
df['season'].unique()

array([1, 2, 3, 4])

In [75]:
# utilizando groupby para determinar o ranking de locações
df.groupby(by='season')['total_count'].mean().sort_values(ascending = False)
# 1: inverno, 2: primavera, 3: verão, 4: outono

season
3    236.016237
2    208.344069
4    198.868856
1    111.114569
Name: total_count, dtype: float64

### i) Qual estação do ano contém a menor média de locações de bicicletas?

In [74]:
df.groupby(by='season')['total_count'].mean().sort_values(ascending = True)
# 1: inverno, 2: primavera, 3: verão, 4: outono

season
1    111.114569
4    198.868856
2    208.344069
3    236.016237
Name: total_count, dtype: float64

### j) Qual horário do dia contém a maior média de locações de bicicletas?

In [77]:
# conferindo se existem as 24 horas do dia
df['hour'].unique()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23])

In [82]:
df.groupby(by='hour')['total_count'].mean().sort_values(ascending = False)

hour
17    461.452055
18    425.510989
8     359.011004
16    311.983562
19    311.523352
13    253.661180
12    253.315934
15    251.233196
14    240.949246
20    226.030220
9     219.309491
7     212.064649
11    208.143054
10    173.668501
21    172.314560
22    131.335165
23     87.831044
6      76.044138
0      53.898072
1      33.375691
2      22.869930
5      19.889819
3      11.727403
4       6.352941
Name: total_count, dtype: float64

### k) Qual horário do dia contém a menor média de locações de bicicletas?

In [83]:
df.groupby(by='hour')['total_count'].mean().sort_values(ascending = True)

hour
4       6.352941
3      11.727403
5      19.889819
2      22.869930
1      33.375691
0      53.898072
6      76.044138
23     87.831044
22    131.335165
21    172.314560
10    173.668501
11    208.143054
7     212.064649
9     219.309491
20    226.030220
14    240.949246
15    251.233196
12    253.315934
13    253.661180
19    311.523352
16    311.983562
8     359.011004
18    425.510989
17    461.452055
Name: total_count, dtype: float64

### l) Que dia da semana contém a maior média de locações de bicicletas?

In [85]:
# conferindo se existem os 7 dias da semana
df['weekday'].unique()

array([6, 0, 1, 2, 3, 4, 5])

In [89]:
df.groupby(by='weekday')['total_count'].mean().sort_values(ascending = False)
# 4: quinta feira

weekday
4    196.436665
5    196.135907
2    191.238891
3    191.130505
6    190.209793
1    183.744655
0    177.468825
Name: total_count, dtype: float64

### m) Que dia da semana contém a menor média de locações de bicicletas?

In [91]:
df.groupby(by='weekday')['total_count'].mean().sort_values(ascending = True)
# 0: domingo

weekday
0    177.468825
1    183.744655
6    190.209793
3    191.130505
2    191.238891
5    196.135907
4    196.436665
Name: total_count, dtype: float64

### n) Às quartas-feiras (`weekday = 3`), qual o horário do dia contém a maior média de locações de bicicletas?

In [110]:
df[df['weekday'] == 3].groupby(by='hour')['total_count'].mean().sort_values(ascending = False)

hour
17    513.144231
18    494.029126
8     488.326923
19    357.504854
7     303.980769
16    272.961538
20    256.660194
9     238.528846
21    194.669903
12    193.903846
13    185.826923
15    181.288462
14    170.548077
11    152.201923
22    143.689320
10    131.894231
6     107.807692
23     83.737864
0      34.557692
5      25.750000
1      15.336538
2       7.813725
4       4.968750
3       4.888889
Name: total_count, dtype: float64

### o) Aos sábados (`weekday = 6`), qual o horário do dia contém a maior média de locações de bicicletas?

In [111]:
df[df['weekday'] == 6].groupby(by='hour')['total_count'].mean().sort_values(ascending = False)

hour
13    385.371429
15    382.428571
14    381.333333
12    375.380952
16    366.142857
17    334.409524
11    328.609524
18    292.048077
10    263.723810
19    239.932692
9     186.790476
20    180.865385
21    156.000000
22    139.663462
23    115.855769
8     114.476190
0      94.304762
1      67.780952
2      50.495238
7      45.961905
3      22.885714
6      21.000000
5       8.291262
4       7.657143
Name: total_count, dtype: float64